<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/article.css" >
    <link rel="stylesheet" href="../../assets/fontawesome-free-5.15.2-web/css/all.css">
    <link rel="stylesheet" href="../css/main.css"> 
    <title>Document</title> 
</head>
<body>
    <header class="header">

        <div class="search">
            <input type="search" placeholder="REcherche">
            <i class="fas fa-search"></i>
        </div>

        <div class="title">
            <h1 class="neon"><span>S</span>implon <span>N</span>ews</h1>
            <h2>Lorem, ipsum dolor.</h2>
        </div>

        <nav class="main-nav">
            <ul>
                <li>Evènements</li>
                <li>Inclusivité</li>
                <li>Témoignages</li>
                <li>Simplon Off</li>
            </ul>
        </nav>

    </header>
    <article class="content">  
        <!-- <div>
    <img class="img-article" src="Simplon.jpg" alt="">

            <div class="button-div">
                <button class="button"type="button"><a href="#"></a>
                    Free Trial</button>
            </div>
            <h2>Feature that is amazing</h2>
            <h4>Feature that is amazing</h4>
            <p>Rain.First, in accordance with what was
                stated in paragraph 35 above, the 
                complainant should have been the very<br>
                first to receive the information about 
                the Commission's decision affecting
                its position as hosting body.</p>
        </div> -->
       

        </article>  
        <footer class="footer">

            <div class="menu">
                <ul>
                    <li><a href="#">Evènements</a></li>
                    <li><a href="#">Inclusivité</a></li>
                     <li><img  src="search.svg" alt="Logo Simplon"></li>
                    <li><a href="#">Témoignages</a></li>
                    <li><a href="#">Simplon Off</a></li>
                </ul>
            </div>
    
            <hr>
    
            <div class="links">
                <ul>
                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook-square"></i> </a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i> </a></li>
                    <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube-square"></i></a></li>
                </ul>
            </div>
    
            <div class="copyrights">
                <p>2021 &copy; E. Rojo - M. De Souza - F. Seare</p>
    
            </div>
            
        </footer>
        
        <script src="../js/utils.js"></script>

        <script src="../js/article.js"></script>
</body>
</html>