<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/index_media_query.css">
    <link rel="stylesheet" href="../../assets/fontawesome-free-5.15.2-web/css/all.css">
    <title>Document</title>
</head>
<body>
   
    <main>
        <img src="../../assets/login-image-3.jpg" width="1440" alt="background image">
        <div class="form-container">
           <div class="form-links">
               <a href="#">Inscrivez-vous</a>
               <a class="active" href="#">Connectez-vous</a>
           </div>
            <form name="form1">
                <label for="email">Email</label>
                <input type="text" name="email-input" id="email" required>
                <label for="password">Password</label>
                <input type="password" name="password-input" id="password" required>
                <input type="submit" value="Sign up">
            </form>
        </div>

        <div class="errors-container">

        </div>
    </main>

  <script src="../js/utils.js"></script>
  <script src="../js/login.js"></script>
</body>
</html>